<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/login.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h2>Connexion</h2>
        <div class="form-control">
            <label for="email">Email</label>
            <input type="text" placeholder="Enter your Email...">
        </div>
        <div class="form-control">
            <label for="email">Password</label>
            <input type="password" placeholder="Enter your Password">
        </div>

        <button class="btn" type="submit">Login</button>
    <p style="text-align: center;">Or</p>
    <p style="text-align: center;"><a href="/register" >Sign in</a></p>
    </div>

    <script src="./js/login.js"></script>
</body>
</html>